@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body{
    background-color: white;
}

.navbar-custom{
    background-color: #721E1E;
}

h1{
    font-family: 'Coustard', serif;
    font-weight: 600;
    color: #29485D;
}

h1 {
    text-align: left; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 10px;
}

h5{
    color: #E6F2E9;
}

.webName{
    color: #DDC192;
    font-family: 'Coustard', serif;
    text-align: center;
}

.card{
    --bs-card-bg: #29485D;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 3.4px 3.4px 3.4px; 
    height: 150px;
}

.card-footer {
    background-color: #29485D; 
    color: white; 
    padding: 10px; 
    text-align: left;
}

.card-body h6, p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: beige;
}

.text-body-tertiary {
    --bs-text-opacity: 1;
    color: #3b0f0f;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.carousel-item{
    background-color: #E6F2E9;
}

.carousel-caption {
    color: white; 
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next{
    left: 84px;
}

footer {
    background-color: #721E1E; 
    color: #fff; 
    padding: 40px 0; 
}

body {
    margin: 0;
    padding: 0;
    height: 200vh; 
    transition: background-color 2.1s; 
}
