/* CSS STARTS HERE */
body{
    background-color: #DDC192;
}
.navbar-custom{
    background-color: #721E1E;
}

.webName{
    color: #DDC192;
}

.nav-link-custom{
    text-decoration: none;
    color: #C07241;
}

.nav-link-custom:hover{
    color: #C07241;
}

.active{
    color: #C07241;
}
/* MWAPE - WATCHLIST CSS */

