/* CSS STARTS HERE */

/* GENERAL CSS */
body {
    background-color: #FFF1D6 !important;
}

.navbar-custom {
    background-color: #566246;
}

.webName {
    color: #FFF1D6 !important;
    font-family: 'Coustard', serif;
    text-align: center;
}

.nav-center {
    margin: 0 auto;
}

.cont-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-custom {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    color: #C17817;
}

.nav-link-custom:hover {
    color: #650D1B;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

ul {
    margin-right: 40px;
}

.active {
    color: #FFF1D6;
}

/* -----------------------------------------------------------
----- */


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

}

/* large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}
/* MAX MEDIA QUERIES  */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    
}


/*---------------------------------------------------------------- */
/* MWAPE - WATCHLIST CSS */

.logoTxt {
    margin-left: 10%;
}

.heading-watch-row {
    padding-right: 0;
}


.heading-watch-col {
    padding-left: 0;
}

#library-H1 {
    font-family: 'Poppins', sans-serif !important;
    color: #650D1B !important;
    padding-top: 8px !important;
    margin-left: 0 !important;
    margin-top: 40px !important;
}

#watchlist-H1 {
    font-family: 'Poppins', sans-serif !important;
    color: #650D1B !important;
    padding-top: 8px !important;
    margin-left: 0 !important;
    margin-top: 40px !important;
}

.nav-link.disabled,
.nav-link:disabled {
    color: #3b0f0f;
}


.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    font-weight: 700;
    color: #DDC192;
    border-bottom-color: currentcolor;
}

.card {
    --bs-card-bg: #38423B;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.mov-movie-poster {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    width: 100%;
}

.card-content {
    padding-left: 10%;
    padding-right: 10%;
}

.lblMeta {
    font-family: 'Libre Franklin', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 95%;
    color: #FFF1D6;
}

.lblMovName {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    color: #C17817;
}

#director {
    color: beige;
    font-family: 'Alice', serif;
}

#rating {
    color: #88530f;
    font-family: 'Alice', serif;
}


.btnBookmark {
    background-color: #C17817;
    border-color: #C17817;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btnBookmark:hover {
    background-color: #FFF1D6;
    border-color: #FFF1D6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btnWatched {
    background-color: #C17817;
    border-color: #C17817;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.btnWatched:hover {
    background-color: #FFF1D6;
    border-color: #FFF1D6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.show-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-outline-danger,
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: #650D1B;
    color: #DDC192;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.icons-cont {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 15%;
    bottom: 0;
    right: 0;
    position: absolute;
}

.rating {
    margin-bottom: 150px;
}

.imd-score {
    margin-bottom: 45%;
}

a .page-link {
    background-color: #650D1B;
    color: #DDC192;
}

.selected {
    background-color: #650D1B;
}

.btn_selected {
    background-color: #650D1B;
}

/* 
font-family: 'Coustard', serif;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Poppins', sans-serif;


new fonts 
font-family: 'Alice', serif;
font-family: 'Coustard', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Pridi', serif;
 */

/* END OF MWAPE WATCHLIST CSS */

/* START OF MWAPE LIBBRARY CSS */

/* genre tags */
.tag-col {
    max-width: 500rem;
    margin-top: 3.5%;
}

.tag{
    font-size: x-small;
    padding-left: 8%;
    padding-right: 8%;
}

/* scroll bar */
/* --------------------------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FFF1D6;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #566246;
    width: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #353d2b;
  }
  /* scrollbar end */

/* ----------------------------------- */
.radioBTN {
    margin-right: 1%;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #650D1B;
    border-color: #650D1B;
    color: #FFF1D6;
}

.btn-outline-primary {
    border-color: #650D1B;
    color: #650D1B;
}

.btn-outline-primary:hover {
    border-color: #C17817;
    color: #C17817;
}

/* END OF MWAPE LIBRARY CSS   */

/* -------------------------------------------------------------------------- */